body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SECTION */
#header-container {
    text-align: center;

    background-image: url(mumbai.jpg);
    height: 500px;
    background-size: cover;
    padding: 70px 0 0px 0; 
}

.title {
    margin: 20px auto;
    width: 225px;
    color: white;
    background: #1D3557;
    font-size: 32px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-shadow: 0px 0px 5px black
}

.subtitle {
    color: white;
    background: #457B9D;
    width: 650px;
    margin: auto auto;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 6px;
    text-shadow: 0px 0px 5px black

}

/* ACTIVITIES SECTION */

img {
    width: 100px;
}

#middle-container {
    height: 378px;
    background: #F1FAEE;
    padding: 10px 0 0 0;
}

.middle-title {
    color: #1D3557;
    font-size: 24px;
    margin: 30px 140px;
}

.activities {
    display: flex;
    justify-content: space-around;

}

.activities-img {
    width: 100px;
    height: 100px;
    margin: 0px 30px 0 30px;
    border-radius: 70px;

}

.activities-title {
    margin-top: 20px;
    margin-bottom: 0;
}

.activities-text {
    width: 198px;
    height: 54px;
}

/* GUIDE SECTION */

#footer-container {
    
    width: 400px;
    margin: 50px auto;
    
    padding: 20px;
    display: flex;
    justify-content:space-around;
    flex-direction: row-reverse;
    text-align: center;

    color: #1D3557;
    background-color: #A8DADC;
    border-bottom: 6px solid black ;  
    box-shadow: 0px 5px 0px #1D3557;
    border-radius: 10px;

}

.profile-picture {
    width: 180px;
    height: 230px;
    
}

/* Hometown Homepage Completed*/